In [1]:
import pandas as pd
import time
pd.options.mode.chained_assignment = None  # default='warn'

# Opportunities

In [31]:
df = pd.DataFrame(pd.read_csv("../logs/arbbot.csv"))
df["humanTimestamp"] = pd.to_datetime(df['blockTimestamp'], unit='s')
df["runTime"] = df["endTimestamp"] - df["startTimestamp"]

In [32]:
# Limit to hour span
hour_limit = 24
sec_limit = hour_limit * 3600
df = df[df.blockTimestamp > time.time()-sec_limit]

In [33]:
# df[df["netProfit"]>0].sort_values(by="netProfit", ascending=0)
under10 = df[(df.netProfit>0)&(df.optimalAmount<10)].sort_values(by="netProfit", ascending=0)
print(f"Amount of opp with <10eth input (24h): {len(under10)}")
print(f"Average input amount (24h): {under10.optimalAmount.mean()} eth")
print(f"Average net profit (24h): {under10.netProfit.mean()} eth")

Amount of opp with <10eth input (24h): 9
Average input amount (24h): 3.7957777777777775 eth
Average net profit (24h): 0.007238406111111113 eth

In [34]:
# df[df["netProfit"]>0].sort_values(by="netProfit", ascending=0)
above10 = df[(df.netProfit>0)&(df.optimalAmount>10)].sort_values(by="netProfit", ascending=0)
print(f"Amount of opp (24h): {len(above10)}")
print(f"Average input amount (24h): {above10.optimalAmount.mean()} eth")
print(f"Average net profit (24h): {above10.netProfit.mean()} eth")

Amount of opp (24h): 7
Average input amount (24h): 69.15285714285713 eth
Average net profit (24h): 0.12449828571428574 eth

In [44]:
df[(df.blockNumber<11599230)&(df.instrName=="weth2inj2weth_uniswap2Sushiswap")].sort_values(by="blockNumber", ascending=0)

,blockNumber,blockTimestamp,instrName,instrId,optimalAmount,grossProfit,netProfit,gasCost,gasAmount,startTimestamp,endTimestamp,humanTimestamp,runTime
84117,11599225.0,1609912330,weth2inj2weth_uniswap2Sushiswap,I0019,2.027000,1.685000e-02,-0.01001,0.02686,240000,1.609912e+09,1.609912e+09,2021-01-06 05:52:10,2.375339
84116,11599224.0,1609912271,weth2inj2weth_uniswap2Sushiswap,I0019,0.005683,1.309000e-07,-0.01968,0.01968,240000,1.609912e+09,1.609912e+09,2021-01-06 05:51:11,2.353499
84115,11599223.0,1609912270,weth2inj2weth_uniswap2Sushiswap,I0019,0.005683,1.309000e-07,-0.02836,0.02836,240000,1.609912e+09,1.609912e+09,2021-01-06 05:51:10,2.532506
84114,11599222.0,1609912232,weth2inj2weth_uniswap2Sushiswap,I0019,0.005683,1.309000e-07,-0.01968,0.01968,240000,1.609912e+09,1.609912e+09,2021-01-06 05:50:32,2.088533
84113,11599221.0,1609912221,weth2inj2weth_uniswap2Sushiswap,I0019,0.005683,1.309000e-07,-0.02232,0.02232,240000,1.609912e+09,1.609912e+09,2021-01-06 05:50:21,1.728988
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78922,11596249.0,1609872553,weth2inj2weth_uniswap2Sushiswap,I0019,0.702000,1.913000e-03,-0.03160,0.03352,280000,1.609873e+09,1.609873e+09,2021-01-05 18:49:13,1.651787
78920,11596248.0,1609872550,weth2inj2weth_uniswap2Sushiswap,I0019,0.702000,1.913000e-03,-0.03160,0.03352,280000,1.609873e+09,1.609873e+09,2021-01-05 18:49:10,1.901353
78918,11596247.0,1609872548,weth2inj2weth_uniswap2Sushiswap,I0019,0.702000,1.913000e-03,-0.03160,0.03352,280000,1.609873e+09,1.609873e+09,2021-01-05 18:49:08,1.349625
78916,11596247.0,1609872548,weth2inj2weth_uniswap2Sushiswap,I0019,0.702000,1.913000e-03,-0.03477,0.03668,280000,1.609873e+09,1.609873e+09,2021-01-05 18:49:08,1.378791
78914,11596246.0,1609872534,weth2inj2weth_uniswap2Sushiswap,I0019,0.702000,1.913000e-03,-0.03477,0.03668,280000,1.609873e+09,1.609873e+09,2021-01-05 18:48:54,1.522365

## Best opportunities so far

In [45]:
df.sort_values(by="netProfit", ascending=0).head(5)

,blockNumber,blockTimestamp,instrName,instrId,optimalAmount,grossProfit,netProfit,gasCost,gasAmount,startTimestamp,endTimestamp,humanTimestamp,runTime
83581,11598878.0,1609907898,weth2dai2weth_sushiswap2Uniswap,I0006,141.400,0.44360,0.40810,0.03552,240000,1.609908e+09,1.609908e+09,2021-01-06 04:38:18,2.243185
83577,11598877.0,1609907868,weth2dai2weth_sushiswap2Uniswap,I0006,141.400,0.44360,0.40810,0.03552,240000,1.609908e+09,1.609908e+09,2021-01-06 04:37:48,2.594595
84891,11599848.0,1609920708,weth2band2weth_sushiswap2Uniswap,I0016,4.726,0.05913,0.03249,0.02664,240000,1.609921e+09,1.609921e+09,2021-01-06 08:11:48,2.199917
88223,11602030.0,1609949107,weth2wbtc2weth_uniswap2Sushiswap,I0001,57.530,0.04677,0.01941,0.02736,240000,1.609949e+09,1.609949e+09,2021-01-06 16:05:07,2.273095
78949,11596263.0,1609872723,weth2inj2weth_uniswap2Sushiswap,I0019,3.442,0.04668,0.01404,0.03264,240000,1.609873e+09,1.609873e+09,2021-01-05 18:52:03,2.035936

## Statistics

In [9]:
# Limit opportuninities to the ones beyond the threshold to account for gas costs
net_profitable_opps = df[df.netProfit > 0]
opp_count = net_profitable_opps.blockNumber.count()
runtime_mean = net_profitable_opps.runTime.mean()
max_profit = net_profitable_opps.netProfit.max()
mean_profit = net_profitable_opps.netProfit.mean()
total_profit = net_profitable_opps.netProfit.sum()

In [10]:
print(f"Opportunitys count: {opp_count}")
print(f"Latency average: {runtime_mean:.2f} sec")
print(f"Max profit: {max_profit:.2f} ETH")
print(f"Average profit: {mean_profit:.2f} ETH")

Opportunitys count: 16
Latency average: 2.14 sec
Max profit: 0.41 ETH
Average profit: 0.06 ETH

## Instruction analysis

In [11]:
opp_comp_df = net_profitable_opps.groupby("instrName").agg({"blockNumber": "count", "netProfit": ["max", "sum", "mean"]})
opp_comp_df.columns = ["count", "max_profit", "summed_profit", "mean_profit"]
opp_comp_df.index.name = None
opp_comp_df.sort_values(by="mean_profit", ascending=0)

,count,max_profit,summed_profit,mean_profit
weth2dai2weth_sushiswap2Uniswap,2,0.408100,0.816200,0.408100
weth2wbtc2weth_uniswap2Sushiswap,3,0.019410,0.042870,0.014290
weth2inj2weth_uniswap2Sushiswap,1,0.014040,0.014040,0.014040
weth2kp3rweth_sushiswap2Uniswap,1,0.012140,0.012140,0.012140
weth2band2weth_sushiswap2Uniswap,6,0.032490,0.038465,0.006411
weth2snx2weth_sushiswap2Uniswap,2,0.006209,0.012418,0.006209
weth2sushi2weth_uniswap2Sushiswap,1,0.000500,0.000500,0.000500

# Archer submissions

In [27]:
df_arch = pd.DataFrame(pd.read_csv("../logs/archer_api_requests.csv"))
df_arch.columns = [
                "bot_id", 
                "target_block", 
                "trade", 
                "estimated_profit_before_gas", 
                "gas_estimate", 
                "query", 
                "query_breakeven",
                "input_amount",
                "input_asset",
                "query_insert_locations", 
                "trade_insert_locations", 
                "response"
             ]

In [28]:
df_arch

,bot_id,target_block,trade,estimated_profit_before_gas,gas_estimate,query,query_breakeven,input_amount,input_asset,query_insert_locations,trade_insert_locations,response
0,MSQT1,11581526,7a250d5630B4cF539739dF2C5dAcb4c659F2488D000000...,337000000000000,200000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,437900000000000000,423900000000000000,ETH,"(272,)","(336,)",<Response [404]>
1,MSQT1,11581527,7a250d5630B4cF539739dF2C5dAcb4c659F2488D000000...,337000000000000,200000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,443410000000000000,423900000000000000,ETH,"(272,)","(336,)",<Response [404]>
2,MSQT1,11581550,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,3379000000000000,200000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,949700000000000000,932900000000000000,ETH,"(272,)","(336,)",<Response [404]>
3,MSQT1,11581551,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,3379000000000000,200000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,950100000000000000,932900000000000000,ETH,"(272,)","(336,)",<Response [404]>
4,MSQT1,11581552,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,3379000000000000,200000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,950100000000000000,932900000000000000,ETH,"(272,)","(336,)",<Response [404]>
...,...,...,...,...,...,...,...,...,...,...,...,...
7745,2,11602471,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,4253000000000000,240000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,0,1281000000000000000,ETH,['272'],['336'],"{'estimated_gas_cost': '19200000000000000', 'e..."
7746,2,11602471,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,4253000000000000,240000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,0,1281000000000000000,ETH,['272'],['336'],"{'estimated_gas_cost': '19200000000000000', 'e..."
7747,2,11602472,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,4253000000000000,240000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,0,1281000000000000000,ETH,['272'],['336'],"{'estimated_gas_cost': '19200000000000000', 'e..."
7748,2,11602473,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,4253000000000000,240000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,0,1281000000000000000,ETH,['272'],['336'],"{'estimated_gas_cost': '19200000000000000', 'e..."
7749,2,11602475,d9e1cE17f2641f24aE83637ab66a2cca9C378B9F000000...,4253000000000000,240000,121835e15703a1a7bab32626d0927D60F90A81D7000000...,0,1281000000000000000,ETH,['272'],['336'],"{'estimated_gas_cost': '19200000000000000', 'e..."

In [56]:
cut = df_arch[df_arch.input_amount==33010000000000000000]
if len(cut):
    cut.iloc[0].trade

Empty DataFrame
Columns: [bot_id, target_block, trade, estimated_profit_before_gas, gas_estimate, query, query_breakeven, input_amount, input_asset, query_insert_locations, trade_insert_locations, response]
Index: []

121835e15703a1a7bab32626d0927d60f90a81d7
0000000000000000000000000000000000000000000000000000000000000084
7f2b0c09
0000000000000000000000007a250d5630b4cf539739df2c5dacb4c659f2488d
0000000000000000000000000000000000000000000000001c2159c2afb78100
000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
000000000000000000000000e28b3b32b6c345a34ff64674606124dd5aceca30
121835e15703a1a7bab32626d0927d60f90a81d7
0000000000000000000000000000000000000000000000000000000000000084
7f2b0c09
000000000000000000000000d9e1ce17f2641f24ae83637ab66a2cca9c378b9f
00000000000000000000000000000000000000000000000fee1dead0fbadf00d
000000000000000000000000e28b3b32b6c345a34ff64674606124dd5aceca30
000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc2